<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="ServiceTransactions" value="http://quiet-stone-2094.herokuapp.com/transactions.json"/>
    <add key="ServicesRates" value="http://quiet-stone-2094.herokuapp.com/rates.json"/>
    <add key="MondedaPorDefecto" value="EUR"/>
  </appSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true" >
    </defaultProxy>
  </system.net>
</configuration>